@charset "UTF-8";
#topHeader{
	width: 1600px;
	height: 130px;
	margin-top: -10px;
	background-color: #ece6cc;
	
}
#topHeader ul {
	margin-top:0;
	padding:0;
	list-style:none;  /* type 없음 */
}
#topHeader a{
    text-decoration:none; /* <a> 태그 밑줄 없애기 */
	font-size:14px;
	font-weight:bold;
}
#headerBox {
	line-height:60px;
	padding:15px;
    align-items: center;
}

#logoBox {
	float: left;
	height:100px;
	margin-left: 650px;
	margin-top: -10px;
    width: 350px;
}
#logoBox a{
    text-decoration: none;
	font-size:20px;
    color:black;
}
#logoBox a img{
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	width: 70px;
	height: 70px;
}
#logoBox a h1{
	margin-left: 60px;
}

#headerMenuBox{
	margin-top: -10px;
	margin-left: 800px;
	text-align:right;
	padding-right: 30px;
	padding-bottom: 50px;
}


#hMenuItem {
	display: inline-block;
	font-weight:bold;
	padding-right:10px;
}

#headerMenuA{
	
	padding: 10px;
	margin-left: 15px;
	font-size:15px;
	border-radius: 30px;
}

.signIn{
	background-color: #3dd28d;
	color: aliceblue;
}

.signUn{
	background-color: #161616;
	color: aliceblue;
}

.logOut{
	background-color: #f32c52;
	color: aliceblue;
}

.myPage{
	background-color: #161616;
	color: aliceblue;
}

#headerUserId {
	width: 100px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	border: none;
	/*border-radius: 30px;*/
}
