nav{
    width: 1600px;
    height: 70px;
    padding:0;
    margin:0;
    
}
nav ul {
	margin-top:0;
	padding:0;
	list-style:none;  /* type 없음 */
}
nav a{
    text-decoration:none; /* <a> 태그 밑줄 없애기 */
	color:black;
	font-weight:bold;
  
}
.submenu {
    width: 1599px;
    display: flex;
    overflow: hidden;
    border-right: 1px solid #a94b00;
  }
  .submenuClick{
    height: 45px;
    font: small-caps bold 20px/2 sans-serif;
    border-bottom: 1px solid #a94b00;
    cursor : pointer;
  }
  .submenuli hr{
    margin: 0 auto;
    height:1px;
    border:0;
    background: #a94b00;
  }
  .submenu li {
    width: 199px;
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
    background-color: #faa159;
    border-left: 1px solid #a94b00;
    border-top: 1px solid #a94b00;
    z-index:10;
    height: 25%;
  }
  .submenuItem li{
    height: 0px;
    overflow: hidden;
    border-left: none;
    border-top: none;
    border-bottom: 1px dotted #a94b00;
    font-size: 15px;
    font-weight: bold;
    
  }
  .submenuName {
    font-size: 20px;
  }
  