@charset "UTF-8";

/* product.css */
.prdRecommend{
	width: 1600px;
	height: 40px;
	background-color: rgb(61, 61, 54);
	font-size: 30px;
	color:antiquewhite
}
#productBox a{
    text-decoration:none; /* <a> 태그 밑줄 없애기 */
	font-size:25px;
	font-weight:bold;
	margin-top:0;
	padding:0;
	list-style:none;
	color: black;
}

#productBox {
	height:700px;
	margin: auto;
	padding-top:20px;
    
}
.Mainproduct {
	width: 100%;
	height: 430px;
}
.Mainproduct div {
	float: left;
	margin: 5px;
	margin-top: 10px;
	width: 300px;
	background-color: blanchedalmond;
	border: 1px solid black;
	text-align: center;
	
}
.Mainproduct div:first-child {
	margin-left: 20px;
	
}
.Mainproduct div a{
	margin: auto;
	font-size: 20px;
}
.Mainproduct div a img{
	width: 300px;
	height: 300px;
}

.Mainproduct div a p{
	color: red;
	font-size: 20px;
}
.Mainproduct div:hover {
	opacity:0.7;
	
}
#Event{
	margin-top: 70px;
	width: 100%;
	height: 800px;
}
#dogEvent1 img{
	float: left;
	width: 800px;
}
#dogEvent2 img{
	float: left;
	width: 800px;
	height: 430px;
}
#dogEvent3 img{
	float: left;
	width: 800px;
	height: 370px;
}
