@charset "UTF-8";

/* product.css */
#prdRecommend{
	width: 1600px;
}
#Mainproduct{
	width: 1600px;
	height: 600px;
}
#productBox {
	height:700px;
	background:white;
	margin: auto;
	padding-top:20px;
    
}

#productBox .product {
	width:98%;
    padding: auto;
	margin-top:20px;
    margin-left: 2%;
}

#productBox .product div {
    float:left;
	width:200px;
	height:320px;
	margin:10px;
	border:solid 1px #585858;
	text-align: center;
}

#productBox .product div img {
	width:500px;
	height:300px;
}

#productBox .product div:hover {
	opacity:0.7;
}
#productBox .product div p {
	color: red;
}
#productBox .product div a {
	width: 300px;
}

#prdIndexItemBox{
	width: 500px;
	height: 300px;
}

#prdIndexItemBox img {
	width: 100px;
	height: 100px;
}
