@charset "UTF-8";

/* slideShow.css */

#slideShow {
	position:relative;
	width: 850px;
	height:520px;
	line-height:520px;
	margin: auto;
}

#slideShowBox {
	width:850px;
	height:100%;
	text-align:center;
	overflow:hidden;  /* 영역 벗어나면 숨김 */
}
#slideShowBox img{
	width: 800px;
	margin-right: 50px;
	border-radius: 50px;
	box-shadow: 10px 10px 2px 1px #868e96;
}
#slidePanel {
	position:relative;
	width:6400px;
	height:480px;
}

.slideImage {
	float:left;
	width:800px;
	height:480px;
}

/* prev / next 버튼 */

#prevNextButtonBox { 
	position:relative; z-index:10;}
#prevButton {
	position:absolute;
	top: 515px;
	left:100px;
	opacity:0.8;
	cursor:pointer;
}

#nextButton {
	position:absolute;
	top: 515px;
	right:100px;
	opacity:0.8;
	cursor:pointer;
}

#prevButton:hover { opacity:1;}
#nextButton:hover { opacity:1;}


/* 컨트롤 버트 */
#controlButtonBox { 
	margin:auto;
	margin-top: 10px;
	width:200px;
}

#controlButtonBox img{
	width: 30px;
	height: 25px;
	float:left;
	margin:10px;
}

#prevNextButtonBox img{
	width: 80px;
}

#slideShowDiv{
	padding-top: 50px;
}
