<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_boot.projectEx.dao.IProductDAO">

	<resultMap type="com.spring_boot.projectEx.model.CategoryVO" id="categoryResult">
		<result property="ctgId" column='ctgId'/>
		<result property="ctgName" column='ctgName'/>
		<result property="subName" column='subName'/>
	</resultMap>

    <resultMap id="prdResult" type="com.spring_boot.projectEx.model.ProductVO">
        <result property="prdNo"  column="prdNo"  />
  		<result property="prdName"  column="prdName"  />
  		<result property="prdPrice"  column="prdPrice"  />
  		<result property="prdCompany"  column="prdCompany"  />
  		<result property="prdStock"  column="prdStock"  />
  		<result property="prdDescript"  column="prdDescript"  />
  		<result property="prdImg"  column="prdImg"  />
  		<result property="visit"  column="visit"  />
  		<result property="orderCount"  column="orderCount"  />
  		<result property="ctgId"  column="ctgId"  />
    </resultMap>

    <!-- 카테고리별 상품 조회 -->
    <select id="ctgListProduct" parameterType="string" resultMap="prdResult">
        SELECT * FROM product WHERE ctgId=#{ctgId} ORDER BY prdNo
    </select>

    <!-- 상품 상세 조회 : 상품 번호(prdNo) 전달 받아서 상품 정보(ProductVO) 반환-->
    <select id="detailViewProduct" parameterType="string" 
    resultType="com.spring_boot.projectEx.model.ProductVO">
        SELECT * FROM product WHERE prdNo = #{prdNo}
    </select>
    
    <!-- 서브 카테고리 메뉴 가져옴 -->
    <select id="getSubCategory" parameterType="string" resultMap="categoryResult">
    	SELECT * FROM category
    	WHERE ctgId=#{ctgId}
    	ORDER BY ctgId
    </select>
</mapper>