<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring_boot.projectEx.dao.IProductInfoDAO">

    <resultMap id="prdResult" type="com.spring_boot.projectEx.model.ProductVO">
        <result property="prdNo"  column="prdNo"  />
  		<result property="prdName"  column="prdName"  />
  		<result property="prdPrice"  column="prdPrice"  />
  		<result property="prdCompany"  column="prdCompany"  />
  		<result property="prdStock"  column="prdStock"  />
  		<result property="prdDescript"  column="prdDescript"  />
  		<result property="prdImg"  column="prdImg"  />
  		<result property="visit"  column="visit"  />
  		<result property="orderCount"  column="orderCount"  />
  		<result property="ctgId"  column="ctgId"  />
    </resultMap>
    
	<select id="detailInfoProduct" parameterType="string" 
		resultType="com.spring_boot.projectEx.model.ProductVO">
		SELECT * FROM product WHERE prdNo = #{prdNo}
	</select>
	

	<update id="visitIncrese" parameterType="com.spring_boot.projectEx.model.ProductVO">
	    UPDATE product
	    SET visit = visit + 1
	    WHERE prdNo=#{prdNo}
	</update>

</mapper>