@charset "UTF-8";
*{
    outline: none;
    
}
#header{
	width: 1600px;
	margin: auto;
}

/* body{
    margin: auto;
    width: 1600px;
    font-size:14px;
    line-height: 1.5em;
    color : #222;
} */

a{
    text-decoration: none;
    color: #222;
}

.member{
	margin: auto;
    width: 1600px;
    font-size:14px;
    line-height: 1.5em;
    color : #222;
    
    margin-top: 50px;
    margin-left: 580px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.member .field{
    width: 350px;
    margin :5px 0;
}

.member b{
    display: block;
    margin-bottom: 5px;
}

.member input:not(input[type=radio]),.member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}



.field.birth div{
    width: 380px;
    display: flex;
    gap:10px;
}

.field.tel-number div {
    display: flex;
}

.field.gender div{
    width: 400px;
    border: 1px solid #dadada;
    
    background-color: #fff;
}

@media (max-width:768px) {
    .member{
        width: 100%;
    }
}

