<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot.projectEx.dao.IMemberDAO">
  	
  	<!--  암호화한 후 로그인 확인-->
  	<select id="loginCheck" parameterType="string" resultType="string">
  		SELECT mbPw FROM member WHERE mbId=#{id}
  	</select>
  	
  	<!-- 회원 등록 -->
  	<insert id="insertMember">
  		INSERT INTO member(mbId, mbPw, mbName, mbBirth, mbGen, mbEmail, mbHp, mbZipcode, mbAddress1, mbAddress2)
  		VALUES (#{mbId},  #{mbPw}, #{mbName}, #{mbBirth}, #{mbGen}, #{mbEmail}, #{mbHp}, #{mbZipcode}, #{mbAddress1}, #{mbAddress2})
  	</insert>
  	
  	<!-- mbId를 매개로 멤버vo 데이터 가져오기 -->
  	<resultMap type="com.spring_boot.projectEx.model.MemberVO" id="mbResult">
		<result property="mbId" column='mbId'/>
		<result property="mbPw" column='mbPw'/>
		<result property="mbName" column='mbName'/>
		<result property="mbBirth" column='mbBirth'/>
		<result property="mbEmail" column='mbEmail'/>
		<result property="mbGen" column='mbGen'/>
		<result property="mbHp" column='mbHp'/>
		<result property="mbZipcode" column='mbZipcode'/>
		<result property="mbAddress1" column='mbAddress1'/>
		<result property="mbAddress2" column='mbAddress2'/>
	</resultMap>
  	
  	<select id="memberRcv" parameterType="string" resultMap="mbResult">
  	  SELECT * FROM member WHERE mbId=#{mbId}
  	</select>
  	
  	
  	
  	
  </mapper>
