@charset "UTF-8";


#topHeader{
	width: 1600px;
	margin: auto;
}


#hwform h2{
	margin-left: 150px;
	/* margin-top: 50px; */
	padding-top: 100px;
	margin-bottom: 50px;
	margin-top: -50px;
}

#mbId, #mbPw, #pwConfirm, #mbName, #mbEmail, #mbZipcode, #mbAddress1, #mbAddress2{
	width: 350px;
	height: 20px;
    background-color: #fff;
    border-width: 3px;
    border-radius: 20px;
    border-color: #000000230230230; 
    margin-bottom: 20px;
}

#mbBirthY, #mbBirthD, #memHp1, #memHp2, #memHp3{
	width: 105px;
	height: 20px;
    background-color: #fff;
    border-width: 3px;
    border-radius: 20px;
    border-color: #000000230230230; 
    margin-bottom: 20px;
}

#mbBirthM{
	width: 100px;
	background-color: #fff;
	border-width: 3px;
	border-radius: 20px;
    border-color: #000000230230230; 
    margin-bottom: 20px;
	
}

#searchZipBtn{
	width: 387px;
	border-width: 3px;
	border-radius: 20px;
    border-color: #000000230230230; 
    margin-bottom: 20px;
}

#mbGen{
	width: 387px;
	background-color: #fff;
	border-width: 3px;
	border-radius: 20px;
    border-color: #000000230230230; 
    margin-bottom: 20px;
}

.field-birth div{
    width: 385px;
    display: flex;
    gap:3px;
    
}

.field.tel-number div {
    width: 385px;
    display: flex;
    gap:5px;
}

#submit, #reset {
    width: 200px;
    height : 30px;
    margin-bottom: 20px;
    background-color: #BC9E80;
    color:white;
    border-width: 3px;
    border-radius: 20px;
    margin-left: 100px;
    padding-bottom: 30px;
}
.memberBigBox{
    background-color: #fffff2;
}

.member{
	outline: none;
    width: 1600px;
   /*  margin-top: 50px; */
   /*  margin-left: 580px; */
    padding: 0 20px;
    margin-bottom: 50px;
    margin: auto;
    font-size:14px;
    line-height: 1.5em;
} 

#hwform{
	margin-left: 40%;

}

.member b{
    display: block;
    margin-bottom: 5px;
}

.member input:not(input[type=radio]),.member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .member{
        width: 100%;
    }
}

