@charset "UTF-8";

body{
    width: 1600px;
    margin: auto;
}

.pageName{
	font-size: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
h2{
	font-size: 20px;
	margin-top: 80px;
	justify-content: center;
	
}

.container, h2{
    position: relative;
    display: flex;
    justify-content: center;
}

#id {
    width: 300px;
	height: 40px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 30px;
    border-style: groove;
    border-color: rgb(230, 230, 230); 
}
    
#pw {
    width: 300px;
	height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 30px;
    border-style: groove;
    border-color: rgb(230, 230, 230);  
}

#login {
    width: 200px;
    height : 30px;
    margin-bottom: 10px;
    background-color: #ece6cc;
    color:white;
    border: 0px;
    border-radius: 30px;
    margin-left: 20%;
}

#help {
	height: 100px;
    margin-left: 700px;
    margin-right: 690px;
    font-size: small;
    font-weight: 100;
    margin-bottom: 20px;   
    justify-content: center;
}

ul{
    height: 70px;
}

li{
	display: inline-block;
    height: 12px; line-height: 12px;
}

li:last-child{
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-left: 4px;
}

#footer{
	width: 1600px;
	margin: auto;
	height: 500px;
	padding-top: 100px;

}
#footer div img{
	float: left;
	margin-left: 5%;
	margin-top: 60px;
	width: 100px;
	height: 100px;
}
#compamy{
	padding-top: 50px;
	margin-left: 60px;
	float: left;
}
#compamy div{
	margin-bottom: 10px;
}