@charset "UTF-8";

#category
{
    margin-left: 10px;
}
#categoryName
{
    margin-left: 10px;
    font-size: 24px;
}

background: linear-gradient(137deg, #fff6b7, #f77c99, #6578f2, #c2ffd8);
background-size: 800% 800%;

-webkit-animation: AnimationName 16s ease infinite;
-moz-animation: AnimationName 16s ease infinite;
-o-animation: AnimationName 16s ease infinite;
animation: AnimationName 16s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#subCategory
{    
	border-radius : 30px;
    left: 50px;
    width: 1600px;
    height: 90px;
    <!--background-color: grey;-->
    color: #fff;
  	background: linear-gradient(-45deg, #fff5fa, #fcd9df);
  	animation: AnimationName 15s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
#subCategoryContent
{
    font-size: 16px;
    margin: 15px;
    margin-left: 15px;
    text-align: left;
}
#subCategoryContent ul li:first-child
{
    font-weight: bold;
}

#subCategoryContent ul li
{
    display: inline-block;
    padding: 7px;
}
#subCategoryMenu a
{
    text-decoration: none;
    color: black;
}
#subCategoryMenu a:hover
{
    cursor: pointer;
}




