@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

#category
{
    margin-left: 10px;
}
#categoryName
{
    margin-left: 10px;
    font-size: 24px;
}

#subCategory
{
	border-radius : 5px;
    width: 100%;
    height: 90px;
}
.gradient-border {
    --borderWidth: 3px;
    background: #fffdf7;
    position: relative;
    border-radius: var(--borderWidth);
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #ffccff, #fad1ff, #f6d5ff, #f1daff, #ecdfff, #e8e3ff, #e3e8ff, #dfecff, #daf1ff, #d5f6ff, #d1faff, #ccffff);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#subCategoryContent
{
    font-size: 16px;
    margin: 15px;
    margin-left: 15px;
    text-align: left;
}
#subCategoryContent ul li:first-child
{
    font-weight: bold;
}

#subCategoryContent ul li
{
    display: inline-block;
    padding: 7px;
}
#subCategoryMenu a
{
    text-decoration: none;
    color: black;
}
#subCategoryMenu a:hover
{
    cursor: pointer;
}




