@charset "UTF-8";

*
{
    margin: 0px auto;
}

#mainBody
{
    width: 1600px;
    position: inherit;
    justify-content: center;
}
#header{
	width: 1600px;
	margin: auto;
}
#nav{
	width: 1600px;
	margin: auto;
}

#content 
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
}

#productBox
{
    box-sizing: border-box;
    display: block;
}

#product 
{
	width:100%;
	margin-top:20px;
}
#product div 
{
    display: inline-table;
	/**width:280px;*/
    width: 22%;
    height: 53.5%;
	/*height:240px;*/
	border:solid 1px #ccc;
	margin-left:10px;
    margin-bottom: 15px;
}

#product div img {
	width:100%;
	height:100%;
    display: inline-table;
}

#product div:hover
{
    opacity: 0.7;
    border: solid 2px black;
}
#content .name
{
    text-align: center;
    font-weight: bold;
}
#content .price
{
    text-align: center;
    color: red;
}

#footer{
	width: 1600px;
	margin: auto;
	height: 500px;
	padding-top: 300px;

}
#footer div img{
	float: left;
	margin-left: 5%;
	margin-top: 60px;
	width: 100px;
	height: 100px;
}
#compamy{
	padding-top: 50px;
	margin-left: 60px;
	float: left;
}
#compamy div{
	margin-bottom: 10px;
}