@charset "UTF-8";

body{
    background-color: #fffff2;
}
#subCategoryMenu .menuAll a{
	color: red;
}
#mainBody
{
    border-left: 1px solid rgb(138, 138, 138);
	border-right: 1px solid rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);
    width: 1600px;
	height: 1300px;
    margin: auto;
    margin-bottom: 50px;
}

#content 
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 1600px;

}

#productBox
{	
    box-sizing: border-box;
    display: block;
}

#product 
{
	width:100%;
	margin-top:20px;
}
#product div 
{
    display: inline-table;
	width: 300px;
	border:solid 1px #ccc;
	margin-left:10px;
    margin-bottom: 15px;
}

#product div img {
	width:300px;
	height:300px;
    display: inline-table;
}

#product div:hover
{
    opacity: 0.7;
    border: solid 2px black;
}
#content .name
{
    text-align: center;
    font-weight: bold;
}
#content .price
{
    text-align: center;
    color: red;
}